<h3>Friends</h3>
<ul>
  <% unless @friends.nil? %>
    <% @friends.each do |f| %>
      <li>
        <span>
          <%= link_to f.email, user_path(f) %>
          <% if(current_user.id == params[:id].to_i) %>
            <%= link_to "Unfriend", delete_friendship_path(friend: f), method: :delete %>
          <% end %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
