<h3>Friends (<%= @friends ? @friends.count : 0 %>) </h3>
<ul class='users'>
  <% unless @friends.nil? %>
    <% @friends.each do |f| %>
      <%= render 'users/user', user: f %>
    <% end %>
  <% end %>
</ul>
