<% if user_signed_in? %>
  <h3> Pending Friend Requests </h3>
    <h4>You Have <%= current_user.outbound_requests.count %> Outbound Request(s)<h4>
      <ul class='users'>
        <% current_user.outbound_requests.each do |r| %>
          <%= render 'users/user', user: User.find(r.friend_id) %>
        <% end %>
      </ul>
    <h4>You Have <%= current_user.inbound_requests.count %> Inbound Request(s)<h4>
      <ul>
        <% current_user.inbound_requests.each do |r| %>
          <%= render 'users/user', user: User.find(r.user_id) %>
        <% end %>
      </ul>
<% else %>
  <p> Not signed in, requests partial </p>
<% end %>